*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.task-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.task{
    width: 30%;
    max-height: 30%;
    padding: 4px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.task-infor{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.icon-user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.title{
    font-size: 18px;
    font-weight: bold;
    color: #222;
}
.time-ago{
    font-size: 13px;
    color: #777;
}
.image-user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid blue
}