*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
.notificationList{
  width: 400px;
  height: 250px;
  position: absolute;
  top:60px;
  right: 20px;
  background-color: rgba(128, 128, 128, 0.305);
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  overflow-y: scroll;
  padding: 15px 10px;
  scrollbar-width: 6px;
  scrollbar-color: #ccc transparent;
  scroll-behavior: smooth;
}
.notificationList:focus{
  outline: none;
}
.notificationCard{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 4px;
  border-radius: 10px;
  height: 60px;
  width: 100%;
}
.infor{
  width: 180px;
}
.title{
  color: black;
  font-weight: bold;
  width: 100%;
}
.body{
  font-size: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.icon-user{
  width: 40px;
  height: 40px;
}
.spinner{
  width: 32px;
  height: 32px;
  border: 3px solid #ccc;
  border-top: 3px solid #1e90ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 16px;
}
.middle{
  margin: 5px auto;
}
.end{
  position: absolute;
  top:30px;
  right:10px

}
@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.notify-btn{
  /* width: 40px; */
  height: 40px;
  padding: 0px 5px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  transition: all 0.5 ease;
  position: absolute;
  right: 20px;
  top: 10px
}
.notify-btn:hover{
  background-color: #e0e0e0;
}
.notify-btn:hover .icon{
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {transform: rotate(0deg);}
  20% {transform: rotate(-12deg);}
  40% {transform: rotate(12deg);}
  60% {transform: rotate(-8deg);}
  80% {transform: rotate(8deg);}
  100% {transform: rotate(0deg);}
}

.icon-wrapper{
  position: relative;
  display: inline-block;
}
.icon{
  font-size: 25px;
  color: #333;
}
.badge{
  position: absolute;
  width: 23px;
  height: 23px;
  top: -15px;
  right: -13px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unread .circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  margin-right: 0px;
  flex-shrink: 0;
}
.unread {
  background-color: #e6f0ff;
  font-weight: 600;
  border: none;
}
.read{
  background-color: #f7f7f7;
  font-weight: 400;
  border: none;
}

.send-notify{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color:aliceblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
.form-title{
    font-size: 20px;
    margin-bottom: 15px;
}
.input-sendNotify-form{
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    
}
.btn-send-notify{
    border-radius: 10px;
    background-color: aqua;
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}
.btn-send-notify:hover{
    background-color: #00bcd4;
    color: white;
}
.input-sendNotify-form:focus{
    outline: none;
    border: 2px solid #00bcd4;
    background-color: #f0faff;
    box-shadow: 0 0 5px rgba(0, 188, 212, 0.5);
    transition: all 0.25s ease-in-out;
}